body {
    padding: 1em; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Arial", sans-serif;
    text-transform: uppercase; 
    font-weight: bold; 
}

label {
    font-family: "Lato", "Arial", sans-serif; 
    text-transform: uppercase;
    font-weight: bold; 
}

.main-search {
    padding-bottom: 1em; 
    border-bottom: 1px solid black;
}
